<h2>Spaces</h2>

<ul>
  <% @spaces.each do |space| %>
  <li>
    <%= space.user.email %>:
    <a href="/spaces/<%= space.id %>"><%= space.name %></a>
    <%= space.description %>
    <%= space.price %>
  </li>
  <% end %>
</ul>
