<h2>Spaces</h2>

<ul class="spaces_list">
  <% @spaces.each do |space| %>
  <li>
    <h4><a href="/spaces/<%= space.id %>"><%= space.name %></a></h4>
    Owner: <em><%= space.user.email %></em>
    <p>Description: <%= space.description %></p>
    £<%= space.price %> / night
  </li>
  <% end %>
</ul>
