<h2>Spaces</h2>

<ul class="spaces_list">
  <% @spaces.each do |space| %>
  <li>
    <h4><a href="/spaces/<%= space.id %>"><%= space.name %></a></h4>
    <%= space.user.email %>
    <p><%= space.description %></p>
    <%= space.price %>
  </li>
  <% end %>
</ul>
