Requests I've made:

<ul id="outgoing_requests">

  <% @bookings.each do |booking| %>
  <li>
    <%= booking.space.name %>
    <%= booking.booking_date %>
    <% if booking.approved %>
      Confirmed
    <% else %>
      Pending
    <% end %>
  </li>
  <% end %>

</ul>

Incoming Requests:
<ul id="incoming_requests">
  <% current_user.spaces.each do |space| %>
    <% space.bookings.each do |booking| %>
    <li><%= space.name %>
      by <%= find_user(booking.booker_user_id).email %>
      for <%= booking.booking_date %>
      <form action="/bookings/approval" method="post">
        <input type="hidden" name="booking_id" value="<%= booking.id %>">
        <input type="submit" name="approve" value="Approve">
      </form>
    </li>
    <% end %>
  <% end %>
</ul>
